.gdbar img {
  width: 350px !important;
  height: 66px !important;
  margin: 8px 8px;
}

.gdbar {
  width: 400px !important;
  height: 90px !important;
}


slides > slide:not(.nobackground):before {
  width: 116px !important;
  height: 22px !important;
  background-size: 116px 22px !important;
}

.columncontainer{
    display:flex;
    justify-content: space-between;
}

.columncontainer >*{
    flex: 1 1 50%;
    height:8em;
}


.node{
    position:relative;
    padding:0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5em;
    min-width:6em;
    max-width:14em;
    z-index:10;
    cursor:pointer;
}

.vert{
    -webkit-transform: rotate(90deg);
    width: max-content;
}

.chart-1{
    background:lightblue;
}


.chartcolumn_chart{
    display:flex;
    justify-content: space-around;
}

.chartcolumn_chart > div{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
}


.chartcolumn_chart >*:first-child{
    display:flex;
    align-items:center;
}

.chartcolumn_chart .vertcont{
    justify-content:center;
}

.chartcolumn_chart >*:nth-child(2){
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}


.chart-border{
    border:1px solid darkgrey;
    border-radius:5px;
}


.bgconnection{
    z-index:0;
    color:darkgrey;
}

